{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block header %}
    <h2>Page not found</h2>
{% endblock %}

{% block content %}
    <p id="put">We're sorry, but the requested page could not be found.</p>
{% endblock %}
