{% extends "base.html" %}

{% block title %}Server error (500){% endblock %}

{% block header %}
    <h2>Server Error <em>(500)</em></h2>
{% endblock %}

{% block content %}
    <p id="put">There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly.
         Thanks for your patience.</p>
{% endblock %}
