{% extends "base.html" %}

{% block title %}This old is ...{% endblock %}

{% block header %}
    <h2>This old is ...</h2>
{% endblock %}

{% block content %}
    <p id="age">Age: {{ alter }}</p>
    {% if alles_gute %}<p id="bday">Happy Birthday ...!</p>{% endif %}
    <p id="back"><a href="/">Back</a></p>
{% endblock %}

{% block footer %}
    <p id="b-day">Birthday: {{ geb_datum }}</p>
    <p id="today">Today is: {{ heute }}</p>
{% endblock %}

{% block script %}
    <script>
        $(function() {
        
        function fadeit() {
            $("#age").delay(1000);
            $("#age").fadeTo(2000, .3);
            $("#age").fadeTo(2000, 1, fadeit);
        }
        
        function fadebday() {
            if ($("#bday").length) {
                $("#bday").delay(1000);
                $("#bday").fadeTo("slow", .3);
                $("#bday").fadeTo("slow", 1, fadebday);
        }}
  
        fadeit();
        fadebday();
        
        });
    </script>
{% endblock %}