<!doctype html>

<head>
    <meta charset="utf-8">

    <title>{% block title %}How old is ...{% endblock %}</title>
    <meta name="description" content="Just a simple django app that calculates the age of someone given the birth date.">
    <meta name="author" content="Martin Fischer">
    
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/media/static/css/style.css">
</head>

<body>
    <div id="header-container">
        <header>
            {% block header %}{% endblock %}
        </header>
    </div>
    
    <hr>
    
    <div id="main-container">
        <div id="main">
            {% block content %}{% endblock %}
        </div>
    </div>
    
    <hr>
     
    <div id="footer-container">
        <footer>
            <p class="git">This is an open source website using Django, Python, jQuery und Webfonts. 
                You can find the code on my <a href="https://github.com/martinfischer/howold">github page</a>.</p>
            {% block footer %}{% endblock %}
        </footer>
    </div>
    
    <script src="/media/static/js/jquery-1.6.min.js"></script>
    {% block script %}{% endblock %}
</body>
</html>
