{% extends "base.html" %}

{% block header %}
    <h2>How old is ...</h2>
{% endblock %}

{% block content %}
    {% block err %}<p id="put">Enter a birth date:</p>{% endblock %}
    <form action="/age/" method="post">{% csrf_token %}
        {{ form.as_table }}
    <input type="submit" value="OK" />
    </form>
{% endblock %}